body{
  margin-top: 50px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


.byandlink{
 text-align: right;
  cursor:pointer;
}

.navbar-default {
    background-color: #f48642;
    border-color: #f48642;
}